@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

$font-title: 'Ubuntu', sans-serif;
$font-subtitle: 'Ubuntu', sans-serif;
$font-body: 'Open Sans', sans-serif; 

$color1: whitesmoke;
$color2: rgb(20, 20, 20);

$background: rgba(18, 18, 18, 0.85);

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font-title;
    line-height: 1.2;
}

/* nav styles start here */

header {
    background: $background;
    text-align: center;
    position: relative;
    width: 100%;
    z-index: 9999;

    .logo {
        height: auto;
        width: 50px;
        margin-top: 8px;
        margin-bottom: 8px;
        border-radius: 5px;
    }

    .nav-toggle {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
    }

    .nav-toggle:focus ~ .nav-toggle-label {
        outline: 3px solid rgba(whitesmoke, .75);
        border-radius: 5px;
    }

    .nav-toggle-label {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 1em;
        height: 100%;
        display: flex;
        align-items: center;

        span,
        span::before,
        span::after {
            display: block;
            background: white;
            height: 2px;
            width: 2em;
            border-radius: 2px;
            position: relative;
        }

        span::before,
        span::after {
            content: '';
            position: absolute;
        }

        span::before {
            bottom: 7px;
        }

        span::after {
            top: 7px;
        }
    }

    nav {
        position: absolute;
        text-align: left;
        top: 100%;
        left: 0;
        background: $background;
        width: 100%;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 400ms ease-in-out;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                margin-bottom: 1em;
                margin-left: 1em;

                a {
                    color: white;
                    text-decoration: none;
                    font-size: 1.2rem;
                    text-transform: uppercase;
                    opacity: 0;
                    transition: opacity 150ms ease-in-out;
                    img {
                        filter: invert(99%) sepia(0%) saturate(244%) hue-rotate(78deg) brightness(115%) contrast(92%);
                        height: 2.5em;
                        width: auto;
                    }
                }
                
                a:hover {
                    color: #000;
                }
            }
        }
    }

    .nav-toggle:checked ~ nav {
        transform: scale(1,1);
    }

    .nav-toggle:checked ~ nav a {
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms;
    }
}

h2 {
    font-size: 2rem;
}

#title {
    display: flex;
    flex-direction: column;
    background-color: $color1;
    position: relative;
    // z-index: 0;
    padding: 0;
    height: auto;
    align-items: center;
    padding-bottom: 1.3em;
    #self-port {
        display: flex;
        object-fit: cover;
        position: relative;
        border-radius: 50%;
        height: auto;
        width: 22em;
        margin-top: 2.5em;
    }
    #title-main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 1rem;
        margin-right: 1rem;
        #name {
            display: flex;
            position: relative;
            // text-align: center;
            // align-items: center;
            font-size: 5rem;
            margin-top: 2.5rem;
            margin-bottom: 1rem;
        }
        #title-subtitle {
            list-style-type: none;
            width: auto;
            margin-bottom: 1em;
            padding: 0;
            #profession {
                font-size: 1.1rem;
                color:rgb(118, 118, 118);
                letter-spacing: .2em;
                margin-bottom: 1em;
            }
            .hobbies {
                display: flex;
                margin-bottom: 25px;
                align-items: center;
                img {
                    height: auto;
                    width: 25px;
                    margin-right: 12px;
                }
            }
        }
        #about-me {
            display: flex;
            flex-flow: column wrap;
            border: 1px solid rgba(94, 94, 94, 0.758);
            border-radius: 15px;
            padding: .5em 1em;
            h2 {
                margin-top: 10px;
            }
            p {
                font-size: .9em;
                margin-bottom: 10px;
                margin-top: 0px;
                color:rgb(118, 118, 118)
            }
        }
    }
}

#skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color2;
    color: $color1;
    width: 100%;
    .skills-icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .skills-header {
            display: flex;
            justify-content: center;
            margin-top: 2em;
            margin-bottom: 2em;
            font-size: 2rem;
        }
        #skills-icon-list {
            padding: 0;
            display: flex;
            flex-flow: row wrap;
            gap: 2em .5em;
            justify-content: space-evenly;
            align-content: space-between;
            margin-bottom: 5em;
            img {
                filter: invert(99%) sepia(0%) saturate(244%) hue-rotate(78deg) brightness(115%) contrast(92%);
                height: 4em;
                width: auto;
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }
    #skills-list-grid {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 2em;
        .skills-three-columns {
            display: grid;
            grid-template-rows: .3fr 1fr;
            justify-content: center;
            height: 15em;
            .skills-cat {
                font-size: 1.2em;
            }
            .skills-list {
                display: grid;
                grid-template-rows: 1fr 1fr 1fr;
                justify-content: center;
                text-align: center;
                padding: 0;
            }
        }
        #skills-column2,
        #skills-column3 {
            border-left: 1px solid whitesmoke;
            height: 85%;
        }
    }
}


#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color1;
    padding-top: 1em;
    padding-bottom: 2em;
    #projects-title {
        display: flex;
        justify-content: center;
        margin: 0;
        padding-bottom: 2em;
        h2 {
            margin-top: 1.3em;
            margin-bottom: 1em;
        }
    }
    #projects-list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
        margin-top: 0;
        margin-right: .5em;
        margin-left: .5em;
        .project-screenshot {
            display: flex;
            margin-bottom: 1em;
            border: 1px solid rgba(94, 94, 94, 0.758);
            border-radius: 15px;
            flex-flow: column wrap;
            position: relative;
            justify-content: center;
            padding-left: 1em;
            padding-right: 1em;
            a {
                margin-top: 15px;
                img {
                    height: 100%;
                    width: 100%;
                }
            }
            div {
                margin-top: 1em;
                a {
                    color: $color2;
                }
                .skills-span {
                    font-size: 14px;
                    color:rgb(118, 118, 118);
                    letter-spacing: .2em;
                }
                ul {
                    font-size: 11px;
                    display: flex;
                    list-style-type: none;
                    flex-direction: row;
                    padding: 0;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    li {
                        display: flex;
                        flex-wrap: nowrap;
                        padding: 5px;
                        margin-top: .8em;
                        border: 1px solid rgba(118, 118, 118, 0.797);
                        border-radius: 7px;
                        background-color: rgba(188, 188, 188, 0.445);
                    }
                }
                .project-title {
                    display: flex;
                    position: relative;
                    margin: 10px 0px;
                    justify-content: left;
                    font-size: 1.7rem;
                    font-weight: bold;
                    text-decoration: none;
                    color: $color2;
                    &:hover {
                        color:rgb(207, 207, 207);
                    }
                }
                .project-description {
                    color: rgb(118, 118, 118);
                    font-size: 12px;
                }
                
            }
            .project-github {
                display: flex;
                text-decoration: none;
                margin: 1em 0;
                border: 1px solid rgba(118, 118, 118, 0.797);
                border-radius: 10px;
                padding: 5px 5px;
                width: 180px;
                background-color: $color2;
                text-align: center;
                align-items: center;
                justify-content: center;
                a {
                    display: flex;
                    margin-top: 0;
                    align-items: center;
                    color: $color2;
                    text-decoration: none;
                    justify-content: center;
                    align-items: center;
                    color: $color1;
                    img {
                        filter: invert(99%) sepia(0%) saturate(244%) hue-rotate(78deg) brightness(115%) contrast(92%);
                        height: auto;
                        width: 30px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    #top-link {
        display: flex;
        justify-content: space-between;
        width: 9em;
        height: auto;
        text-decoration: none;
        color: $color2;
        &:hover {
            filter: invert(91%) sepia(0%) saturate(686%) hue-rotate(185deg) brightness(91%) contrast(94%);
        }
        img {
            height: auto;
            width: 25px;
            filter: invert(0%) sepia(0%) saturate(1004%) hue-rotate(188deg) brightness(82%) contrast(84%);
        }
        p {
            text-align: center;
            
            
        }
    }
    
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color2;
    margin-top: 0;
    padding-top: 2em;
    padding-bottom: 2em;
    flex-direction: column;
    a {
        text-decoration: none;
        p {
            color: whitesmoke;
            &:hover {
                color:rgb(207, 207, 207);
            }
        }
    }
    .professional-links {
        width: 90%;
        display: flex;
        flex-direction: row;
        margin: 2em 4em;
        padding: 0;
        justify-content: space-between;
        img {
            filter: invert(99%) sepia(0%) saturate(244%) hue-rotate(78deg) brightness(115%) contrast(92%);
            height: 2.5em;
            width: auto;
        }
    }
}

.tooltip {
    position: relative;
    display: flex;
    // height: auto;
}
.tooltip
.tooltiptext {
    font-family: $font-body;
    font-size: .8em;
    visibility: hidden;
    width: auto;
    background-color: rgb(71, 71, 71);
    color: $color1;
    text-align: center;
    border-radius: 6px;
    padding: .1em 0;
    position: absolute;
    z-index: 60;
}
.tooltip:hover 
.tooltiptext {
    visibility: visible;
}

.list-style-none {
    list-style-type: none;
}

.skills-list, 
.professional-links {
    font-family: $font-body;
}

@media screen and (min-width: 400px) {
    #title {
        #title-main {
            #name {
                font-size: 3rem;
            }
        }
    }
    
    #skills {
        grid-template-rows: auto 15em;
        .skills-icons {
            display: flex;
            justify-content: center;            
        }
    }
    
}

@media screen and (min-width: 770px) {
    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
        
        .nav-toggle-label {
            display: none;
        }
        .logo {
            grid-column: 2 / 3;
            margin-right: 40em;
        }
        nav {
            position: relative;
            text-align: left;
            transition: none;
            transform: scale(1,1);
            background: none;
            top: initial;
            left: initial;
            grid-column: 3 / 4;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            ul {
                display: flex;
                align-items: center;

                li {
                    margin-left: 5em;
                    margin-bottom: 0;
                    

                    a {
                        opacity: 1;
                        position: relative;
                    }
                    a::before {
                        content: '';
                        display: block;
                        height: 5px;
                        background: black;
                        position: absolute;
                        top: -.75em;
                        left: 0;
                        right: 0;
                        transform: scale(0, 1);
                        transition: transform ease-in-out 250ms;
                    }
                    a:hover::before {
                        transform: scale(1, 1);
                    }
                }
            }
        }
    }
    
    #skills {
        .skills-icons {
            #skills-icon-list {
                gap: 1.5em .5em;
            }
        }
    }
    #projects {
        #projects-list {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            column-gap: 8em;
            hr {
                display: none;
            }
            .project-screenshot {
                width: 30em;
                margin-top: 0;
                margin-bottom: 2em;
                
            }
        }
    }
    footer {
        .professional-links {
            width: 80%;
        }
    }
}

@media screen and (min-width: 1400px) {
    #title {
        flex-direction: row-reverse;
        justify-content: space-around;
        padding: 0em 10em 6em 10em;
        #self-port {
            width: 30em;
            margin: 0;
        }
        #title-main {
            width: 500px;
            #name {
                font-size: 5rem;
            }
        }
    }
    
    #skills {
        .skills-icons {
            #skills-icon-list {
                gap: .5em .5em;
                margin-bottom: 4em;
            }
        }
    }

    #projects {
        #projects-list {
            .project-screenshot {
                width: 700px;
            }
        }
    }
    footer {
        .professional-links {
            width: 50%;
        }
    }
}