@import url(https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@700&display=swap);
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  line-height: 1.6;
}

.content-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
}

#title-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: whitesmoke;
  position: relative;
  z-index: 999;
  padding: 0;
  height: auto;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
}

#title-text #title-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

#title-text #title-main #name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
}

#title-text #title-main img {
  right: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 9em;
  margin-right: 20px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

#title-text #title-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}

#title-text #title-subtitle h2, #title-text #title-subtitle h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

#title-text #title-subtitle h2 {
  margin-bottom: .5em;
}

#title-text #title-subtitle h3 {
  margin-bottom: .2em;
}

#skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #141414;
  color: whitesmoke;
  width: 100%;
}

#skills .skills-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#skills .skills-icons .skills-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.3em;
}

#skills .skills-icons #skills-icon-list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 2em .5em;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin-bottom: 3em;
}

#skills .skills-icons #skills-icon-list img {
  -webkit-filter: invert(99%) sepia(0%) saturate(244%) hue-rotate(78deg) brightness(115%) contrast(92%);
          filter: invert(99%) sepia(0%) saturate(244%) hue-rotate(78deg) brightness(115%) contrast(92%);
  height: 4em;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
}

#skills #skills-list-grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

#skills #skills-list-grid .skills-three-columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: .3fr 1fr;
      grid-template-rows: .3fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 15em;
}

#skills #skills-list-grid .skills-three-columns .skills-cat {
  font-size: 1.2em;
}

#skills #skills-list-grid .skills-three-columns .skills-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin-bottom: 1.3em;
}

#skills #skills-list-grid #skills-column2,
#skills #skills-list-grid #skills-column3 {
  border-left: 1px solid whitesmoke;
}

#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: whitesmoke;
}

#projects #projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  padding: 0;
}

#projects #projects-list .project-screenshot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects #projects-list .project-screenshot h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#projects #projects-list .project-screenshot img {
  height: 15em;
  width: auto;
}

#projects #projects-list .project-screenshot label {
  font-size: .9em;
}

#projects #projects-list .project-screenshot a {
  color: #141414;
  text-decoration: underline;
}

#projects #projects-list .project-screenshot a:hover {
  color: #cfcfcf;
}

#projects #projects-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact-me {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 4em 4em;
      grid-template-rows: 4em 4em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #141414;
  color: whitesmoke;
}

#contact-me h3 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact-me h3 a {
  color: whitesmoke;
}

#contact-me h3 a:hover {
  color: #cfcfcf;
  text-decoration: underline;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #141414;
  margin-top: 0;
}

footer .professional-links {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 2em;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .professional-links img {
  -webkit-filter: invert(99%) sepia(0%) saturate(244%) hue-rotate(78deg) brightness(115%) contrast(92%);
          filter: invert(99%) sepia(0%) saturate(244%) hue-rotate(78deg) brightness(115%) contrast(92%);
  height: 4em;
  width: auto;
}

.tooltip {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tooltip
.tooltiptext {
  font-family: "Open Sans", sans-serif;
  font-size: .8em;
  visibility: hidden;
  width: auto;
  background-color: #474747;
  color: whitesmoke;
  text-align: center;
  border-radius: 6px;
  padding: .1em 0;
  position: absolute;
  z-index: 60;
}

.tooltip:hover
.tooltiptext {
  visibility: visible;
}

.list-style-none {
  list-style-type: none;
}

.skills-list,
.professional-links {
  font-family: "Open Sans", sans-serif;
}

@media screen and (min-width: 400px) {
  #title-text #title-main #name {
    font-size: 3rem;
  }
  #skills {
    -ms-grid-rows: auto 15em;
        grid-template-rows: auto 15em;
  }
  #skills .skills-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 770px) {
  #title-text #title-main img {
    width: 13em;
  }
  #skills .skills-icons #skills-icon-list {
    gap: 1.5em .5em;
  }
  #projects #projects-list {
    padding: 1em;
  }
  #projects #projects-list .project-screenshot img {
    margin-left: 1em;
    margin-right: 1em;
  }
  footer .professional-links {
    width: 80%;
  }
}

@media screen and (min-width: 1400px) {
  #title-text #title-main #name {
    font-size: 5rem;
    width: 3em;
  }
  #title-text #title-main img {
    width: 18em;
  }
  #skills .skills-icons #skills-icon-list {
    gap: .5em .5em;
    margin-bottom: 4em;
  }
  #projects #projects-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .professional-links {
    width: 70%;
  }
}
/*# sourceMappingURL=styles.css.map */