@import url(https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@700&display=swap);

$font-title: 'Ubuntu', sans-serif;
$font-body: 'Open Sans', sans-serif; 

$color1: whitesmoke;
$color2: rgb(20, 20, 20);

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font-title;
    line-height: 1.6;
}

.content-container {
    width: 100%;
    display: grid;
}

#title {
    display: flex;
    flex-direction: row;
    background-color: $color1;
    // text-align: center;
    position: relative;
    width: 100%;
    z-index: 999;
    padding: 0;
    height: auto;
    justify-content: space-between;
    #title-text {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        margin-left: 1em;
        #title-main {
            display: flex;
            margin-top: 1em;
            padding: .5rem 1rem;
            justify-content: center;
            // flex-shrink: 1;
            h1 {
                padding: .5rem 1rem;
                text-align: center;
                flex-shrink: 1;
                font-size: 4rem;
                margin: 0;
            }
        }
        #title-subtitle {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            // flex-shrink: 1;
            margin-bottom: 1em;
            h2, h3 {
                display: flex;
                text-align: center;
            }
        }
    }
    #title-img {
        margin-left: 1em;
        margin-right: 1em;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        justify-content: space-around;
        img {
            // flex-grow: 2;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            height: auto;
            width: 10em;
        }
    }
}


#skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color2;
    color: $color1;
    .skills-icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .skills-header {
            display: flex;
            justify-content: center;
            margin-top: 1.3em;
        }
        #skills-icon-list {
            padding: 0;
            display: flex;
            flex-flow: row wrap;
            gap: 2em .5em;
            justify-content: space-evenly;
            align-content: space-between;
            margin-bottom: 3em;
            img {
                filter: invert(99%) sepia(0%) saturate(244%) hue-rotate(78deg) brightness(115%) contrast(92%);
                height: 4em;
                width: auto;
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }
    #skills-list-grid {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        .skills-three-columns {
            display: grid;
            grid-template-rows: .3fr 1fr;
            justify-content: center;
            height: 15em;
            .skills-cat {
                font-size: 1.2em;
            }
            .skills-list {
                display: grid;
                grid-template-rows: 1fr 1fr 1fr;
                justify-content: center;
                padding: 0;
                margin-bottom: 1.3em;
            }
        }
        #skills-column2,
        #skills-column3 {
            border-left: 1px solid whitesmoke;
        }
    }
}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color1;
    #projects-list {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        padding: 0;
        .project-screenshot {
            display: flex;
            justify-content: center;
            flex-flow: column wrap;
            align-items: center;
            h4 {
                display: flex;
                justify-content: center;
            }
            img {
                height: 15em;
                width: auto;
            }
            label {
                font-size: .9em;
            }
            a {
                color: $color2;
                text-decoration: underline;
                &:hover {
                    color:rgb(207, 207, 207);
                }
            }
        }
    }
    #projects-title {
        display: flex;
        justify-content: center;
    }
    
}

#contact-me {
    display: grid;
    grid-template-rows: 4em 4em;
    justify-content: center;
    background-color: $color2;
    color: $color1;
    h3 {
        display: grid;
        justify-content: center;
        a {
            color: $color1;
            &:hover {
                color:rgb(207, 207, 207);
                text-decoration: underline;
            }
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    background-color: $color2;
    margin-top: 0;
    .professional-links {
        width: 90%;
        display: flex;
        flex-direction: row;
        margin-bottom: 2em;
        padding: 0;
        justify-content: space-between;
        img {
            filter: invert(99%) sepia(0%) saturate(244%) hue-rotate(78deg) brightness(115%) contrast(92%);
            height: 4em;
            width: auto;
        }
    }
}

.tooltip {
    position: relative;
    display: flex;
    // height: auto;
}
.tooltip
.tooltiptext {
    font-family: $font-body;
    font-size: .8em;
    visibility: hidden;
    width: auto;
    background-color: rgb(71, 71, 71);
    color: $color1;
    text-align: center;
    border-radius: 6px;
    padding: .1em 0;
    position: absolute;
    z-index: 60;
}
.tooltip:hover 
.tooltiptext {
    visibility: visible;
}

.list-style-none {
    list-style-type: none;
}

.skills-list, 
.professional-links {
    // display: grid;
    font-family: $font-body;
}

@media screen and (min-width: 400px) {
    #skills {
        grid-template-rows: auto 15em;
        .skills-icons {
            display: flex;
            justify-content: center;            
        }
    }
    
}

@media screen and (min-width: 770px) {
    #title {
        #title-img {
            img {
                width: 14em;
            }
        }
    }
    #skills {
        .skills-icons {
            #skills-icon-list {
                gap: 1.5em .5em;
            }
        }
    }
    #projects {
        #projects-list {
            padding: 1em;
            .project-screenshot {
                img {
                    margin-left: 1em;
                    margin-right: 1em;
                }
            }
        }
    }
    footer {
        .professional-links {
            width: 80%;
        }
    }
}

@media screen and (min-width: 1400px) {
    #skills {
        .skills-icons {
            #skills-icon-list {
                gap: .5em .5em;
                margin-bottom: 4em;
            }
        }
    }
    #projects {
        #projects-list {
            flex-direction: row;
            justify-content: space-between ;
        }
    }
    footer {
        .professional-links {
            width: 70%;
        }
    }
}