@import url(https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@700&display=swap);
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  line-height: 1.6;
}

.content-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
}

.title {
  display: -ms-grid;
  display: grid;
  background-color: whitesmoke;
  text-align: center;
  position: relative;
  width: 100%;
  z-index: 999;
  padding: 0;
  height: auto;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title .title-text {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: .8fr 1fr;
      grid-template-rows: .8fr 1fr;
}

.title .title-text #title-main {
  margin-top: 3em;
}

.title .title-text #title-main h1 {
  border: 3px double #141414;
  background-color: #dad8d8;
  margin: 0;
}

.title .title-text #title-subtitle {
  margin-bottom: 1.5em;
}

.title img {
  margin-top: 5em;
  height: auto;
  width: 12em;
}

.skills {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 90%;
      grid-template-columns: 90%;
  -ms-grid-rows: auto 15em;
      grid-template-rows: auto 15em;
  background-color: #141414;
  color: whitesmoke;
}

.skills .skills-icons {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: .3fr .7fr;
      grid-template-rows: .3fr .7fr;
}

.skills .skills-icons .skills-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.3em;
}

.skills .skills-icons #skills-icon-list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.skills .skills-icons #skills-icon-list img {
  -webkit-filter: invert(99%) sepia(0%) saturate(244%) hue-rotate(78deg) brightness(115%) contrast(92%);
          filter: invert(99%) sepia(0%) saturate(244%) hue-rotate(78deg) brightness(115%) contrast(92%);
  height: 3em;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.skills #skills-list-grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.skills #skills-list-grid .skills-three-columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: .3fr 1fr;
      grid-template-rows: .3fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 15em;
}

.skills #skills-list-grid .skills-three-columns .skills-cat {
  font-size: 1.2em;
}

.skills #skills-list-grid .skills-three-columns .skills-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin-bottom: 1.3em;
}

.skills #skills-list-grid #skills-column2,
.skills #skills-list-grid #skills-column3 {
  border-left: 1px solid whitesmoke;
}

.projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 4em 1fr;
      grid-template-rows: 4em 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: whitesmoke;
}

.projects .projects-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax() 1fr 1fr 1fr;
      grid-template-rows: minmax() 1fr 1fr 1fr;
  padding: 0;
}

.projects .projects-list .project-screenshot {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: .2fr 1fr .1fr;
      grid-template-rows: .2fr 1fr .1fr;
}

.projects .projects-list .project-screenshot h4 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .projects-list .project-screenshot img {
  height: 15em;
  width: auto;
}

.projects .projects-list .project-screenshot label {
  font-size: .9em;
}

.projects .projects-list .project-screenshot a {
  color: #141414;
  text-decoration: underline;
}

.projects .projects-list .project-screenshot a:hover {
  color: #cfcfcf;
}

.projects #projects-title {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact-me {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 4em 4em;
      grid-template-rows: 4em 4em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #141414;
  color: whitesmoke;
}

#contact-me h3 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact-me h3 a {
  color: whitesmoke;
}

#contact-me h3 a:hover {
  color: #cfcfcf;
  text-decoration: underline;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 80%;
      grid-template-rows: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #141414;
  position: relative;
  margin-top: 0;
  height: auto;
}

footer .professional-links {
  margin-bottom: 2em;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

footer .professional-links .professional-link {
  display: -ms-grid;
  display: grid;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
}

footer .professional-links img {
  -webkit-filter: invert(99%) sepia(0%) saturate(244%) hue-rotate(78deg) brightness(115%) contrast(92%);
          filter: invert(99%) sepia(0%) saturate(244%) hue-rotate(78deg) brightness(115%) contrast(92%);
  height: 4em;
  width: auto;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip
.tooltiptext {
  font-family: "Open Sans", sans-serif;
  font-size: .8em;
  visibility: hidden;
  width: auto;
  background-color: #474747;
  color: whitesmoke;
  text-align: center;
  border-radius: 6px;
  padding: .1em 0;
  position: absolute;
  z-index: 60;
}

.tooltip:hover
.tooltiptext {
  visibility: visible;
}

.list-style-none {
  list-style-type: none;
}

.skills-list,
.professional-links {
  font-family: "Open Sans", sans-serif;
}

@media screen and (min-width: 400px) {
  .title img {
    margin-top: 3em;
    height: auto;
    width: 12em;
  }
  .skills {
    -ms-grid-rows: auto 15em;
        grid-template-rows: auto 15em;
  }
  .skills .skills-icons {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-rows: .2fr .8fr;
        grid-template-rows: .2fr .8fr;
  }
  .skills #skills-icon-list img {
    height: auto;
    width: 2em;
    margin-left: 2em;
    margin-right: 2em;
  }
}

@media screen and (min-width: 770px) {
  .projects-list {
    width: auto;
  }
  .projects-list .project-screenshot {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects-list .project-screenshot img {
    margin-left: 1em;
    margin-right: 1em;
    height: auto;
    width: auto;
  }
  .skills #skills-icon-list img {
    height: auto;
    width: 5em;
    margin-left: 2em;
    margin-right: 2em;
  }
}

@media screen and (min-width: 1400) {
  .skills #skills-icon-list img {
    height: auto;
    width: 7em;
    margin: 4em;
  }
}
/*# sourceMappingURL=styles.css.map */