@import url(https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@700&display=swap);

$font-title: 'Ubuntu', sans-serif;
$font-body: 'Open Sans', sans-serif; 

$color1: whitesmoke;
$color2: rgb(20, 20, 20);

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font-title;
    line-height: 1.6;
}

.content-container {
    width: 100%;
    display: grid;
}

.title {
    display: grid;
    background-color: $color1;
    text-align: center;
    position: relative;
    width: 100%;
    z-index: 999;
    padding: 0;
    height: auto;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    .title-text {
        display: grid;
        justify-content: center;
        grid-template-rows: .8fr 1fr;
        #title-main {
            margin-top: 3em;
            h1 {
                border: 3px double $color2;
                background-color:rgb(218, 216, 216);
                margin: 0;
            }
        }
        #title-subtitle {
            margin-bottom: 1.5em;
        }
    }
    img {
        margin-top: 5em;
        height: auto;
        width: 12em;
    }
}


.skills {
    display: grid;
    justify-content: center;
    grid-template-columns: 90%;
    grid-template-rows: auto 15em;
    background-color: $color2;
    color: $color1;
    .skills-icons {
        display: grid;
        justify-content: center;
        grid-template-rows: .3fr .7fr;
        .skills-header {
            display: flex;
            justify-content: center;
            margin-top: 1.3em;
        }
        #skills-icon-list {
            padding: 0;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-content: space-between;
            img {
                filter: invert(99%) sepia(0%) saturate(244%) hue-rotate(78deg) brightness(115%) contrast(92%);
                height: 3em;
                width: auto;
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }
    #skills-list-grid {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        .skills-three-columns {
            display: grid;
            grid-template-rows: .3fr 1fr;
            justify-content: center;
            height: 15em;
            .skills-cat {
                font-size: 1.2em;
            }
            .skills-list {
                display: grid;
                grid-template-rows: 1fr 1fr 1fr;
                justify-content: center;
                padding: 0;
                margin-bottom: 1.3em;
            }
        }
        #skills-column2,
        #skills-column3 {
            border-left: 1px solid whitesmoke;
        }
    }
}

.projects {
    display: grid;
    grid-template-rows: 4em 1fr;
    justify-content: center;
    background-color: $color1;
    .projects-list {
        display: grid;
        grid-template-rows: minmax()1fr 1fr 1fr;
        padding: 0;
        .project-screenshot {
            display: grid;
            justify-content: center;
            grid-template-rows: .2fr 1fr .1fr;
            h4 {
                display: grid;
                justify-content: center;
            }
            img {
                height: 15em;
                width: auto;
            }
            label {
                font-size: .9em;
                // margin-bottom: 2em;
            }
            a {
                color: $color2;
                text-decoration: underline;
                &:hover {
                    color:rgb(207, 207, 207);
                }
            }
        }
    }
    #projects-title {
        display: grid;
        justify-content: center;
    }
    
}

#contact-me {
    display: grid;
    grid-template-rows: 4em 4em;
    justify-content: center;
    background-color: $color2;
    color: $color1;
    h3 {
        display: grid;
        justify-content: center;
        a {
            color: $color1;
            &:hover {
                color:rgb(207, 207, 207);
                text-decoration: underline;
            }
        }
    }
}

footer {
    display: grid;
    grid-template-rows: 80%;
    justify-content: center;
    background-color: $color2;
    position: relative;
    margin-top: 0;
    height: auto;
    .professional-links {
        margin-bottom: 2em;
        padding: 0;
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        .professional-link {
            display: grid;
            margin-left: 2em;
            margin-right: 2em;
            margin-bottom: 2em;
        }
        img {
            filter: invert(99%) sepia(0%) saturate(244%) hue-rotate(78deg) brightness(115%) contrast(92%);
            height: 4em;
            width: auto;
        }
    }
}

.tooltip {
    position: relative;
    display: inline-block;
    
}
.tooltip
.tooltiptext {
    font-family: $font-body;
    font-size: .8em;
    visibility: hidden;
    width: auto;
    background-color: rgb(71, 71, 71);
    color: $color1;
    text-align: center;
    border-radius: 6px;
    padding: .1em 0;
    position: absolute;
    z-index: 60;
}
.tooltip:hover 
.tooltiptext {
    visibility: visible;
}

.list-style-none {
    list-style-type: none;
}

.skills-list, 
.professional-links {
    // display: grid;
    font-family: $font-body;
}

@media screen and (min-width: 400px) {
    .title {
        img {
            margin-top: 3em;
            height: auto;
            width: 12em;
        }
    }

    .skills {
        grid-template-rows: auto 15em;
        .skills-icons {
            display: grid;
            justify-content: center;
            grid-template-rows: .2fr .8fr;
        }
        #skills-icon-list {
            img {
                height: auto;
                width: 2em;
                margin-left: 2em;
                margin-right: 2em;
            }
        }
    }
}

@media screen and (min-width: 770px) {
    .projects-list {
        width: auto;
        // padding: 1em;
        .project-screenshot {
            display: grid;
            justify-content: center;
            img {
                margin-left: 1em;
                margin-right: 1em;
                height: auto;
                width: auto;
            }
        }
    }
    .skills {
        #skills-icon-list {
            img {
                height: auto;
                width: 5em;
                margin-left: 2em;
                margin-right: 2em;
            }
        }
    }
}

@media screen and (min-width: 1400) {
    .skills {
        #skills-icon-list {
            img {
                height: auto;
                width: 7em;
                margin: 4em;
            }
        }
    }
}