@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  line-height: 1.2;
}

#title {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  position: relative;
  z-index: 999;
  padding: 0;
  height: auto;
  align-items: center;
  padding-bottom: 1.3em;
}
#title #self-port {
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  border-radius: 50%;
  height: auto;
  width: 22em;
  margin-top: 2.5em;
}
#title #title-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1rem;
  margin-right: 1rem;
}
#title #title-main #name {
  display: flex;
  position: relative;
  font-size: 5rem;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}
#title #title-main #title-subtitle {
  list-style-type: none;
  width: auto;
  margin-bottom: 1em;
  padding: 0;
}
#title #title-main #title-subtitle #profession {
  font-size: 1.1rem;
  color: rgb(118, 118, 118);
  letter-spacing: 0.2em;
  margin-bottom: 1em;
}
#title #title-main #title-subtitle .hobbies {
  display: flex;
  margin-bottom: 25px;
  align-items: center;
}
#title #title-main #title-subtitle .hobbies img {
  height: auto;
  width: 25px;
  margin-right: 12px;
}
#title #title-main #about-me {
  display: flex;
  flex-flow: column wrap;
  border: 1px solid rgba(94, 94, 94, 0.758);
  border-radius: 15px;
  padding: 0.5em 1em;
}
#title #title-main #about-me h2 {
  margin-top: 10px;
}
#title #title-main #about-me p {
  font-size: 0.9em;
  margin-bottom: 10px;
  margin-top: 0px;
  color: rgb(118, 118, 118);
}

#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(20, 20, 20);
  color: whitesmoke;
  width: 100%;
}
#skills .skills-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#skills .skills-icons .skills-header {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 2rem;
}
#skills .skills-icons #skills-icon-list {
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  gap: 2em 0.5em;
  justify-content: space-evenly;
  align-content: space-between;
  margin-bottom: 5em;
}
#skills .skills-icons #skills-icon-list img {
  filter: invert(99%) sepia(0%) saturate(244%) hue-rotate(78deg) brightness(115%) contrast(92%);
  height: 4em;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
}
#skills #skills-list-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 2em;
}
#skills #skills-list-grid .skills-three-columns {
  display: grid;
  grid-template-rows: 0.3fr 1fr;
  justify-content: center;
  height: 15em;
}
#skills #skills-list-grid .skills-three-columns .skills-cat {
  font-size: 1.2em;
}
#skills #skills-list-grid .skills-three-columns .skills-list {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  text-align: center;
  padding: 0;
}
#skills #skills-list-grid #skills-column2,
#skills #skills-list-grid #skills-column3 {
  border-left: 1px solid whitesmoke;
  height: 85%;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: whitesmoke;
  padding-top: 1em;
  padding-bottom: 2em;
}
#projects #projects-title {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-bottom: 2em;
}
#projects #projects-title h2 {
  margin-top: 1.3em;
  margin-bottom: 1em;
}
#projects #projects-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  margin-top: 0;
  margin-right: 0.5em;
  margin-left: 0.5em;
}
#projects #projects-list .project-screenshot {
  display: flex;
  margin-bottom: 1em;
  border: 1px solid rgba(94, 94, 94, 0.758);
  border-radius: 15px;
  flex-flow: column wrap;
  position: relative;
  justify-content: center;
  padding-left: 1em;
  padding-right: 1em;
}
#projects #projects-list .project-screenshot a {
  margin-top: 15px;
}
#projects #projects-list .project-screenshot a img {
  height: 100%;
  width: 100%;
}
#projects #projects-list .project-screenshot div {
  margin-top: 1em;
}
#projects #projects-list .project-screenshot div a {
  color: rgb(20, 20, 20);
}
#projects #projects-list .project-screenshot div .skills-span {
  font-size: 14px;
  color: rgb(118, 118, 118);
  letter-spacing: 0.2em;
}
#projects #projects-list .project-screenshot div ul {
  font-size: 11px;
  display: flex;
  list-style-type: none;
  flex-direction: row;
  padding: 0;
  justify-content: space-between;
  flex-wrap: wrap;
}
#projects #projects-list .project-screenshot div ul li {
  display: flex;
  flex-wrap: nowrap;
  padding: 5px;
  margin-top: 0.8em;
  border: 1px solid rgba(118, 118, 118, 0.797);
  border-radius: 7px;
  background-color: rgba(188, 188, 188, 0.445);
}
#projects #projects-list .project-screenshot div .project-title {
  display: flex;
  position: relative;
  margin: 10px 0px;
  justify-content: left;
  font-size: 1.7rem;
  font-weight: bold;
  text-decoration: none;
  color: rgb(20, 20, 20);
}
#projects #projects-list .project-screenshot div .project-title:hover {
  color: rgb(207, 207, 207);
}
#projects #projects-list .project-screenshot div .project-description {
  color: rgb(118, 118, 118);
  font-size: 12px;
}
#projects #projects-list .project-screenshot .project-github {
  display: flex;
  text-decoration: none;
  margin: 1em 0;
  border: 1px solid rgba(118, 118, 118, 0.797);
  border-radius: 10px;
  padding: 5px 5px;
  width: 180px;
  background-color: rgb(20, 20, 20);
  text-align: center;
  align-items: center;
  justify-content: center;
}
#projects #projects-list .project-screenshot .project-github a {
  display: flex;
  margin-top: 0;
  align-items: center;
  color: rgb(20, 20, 20);
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}
#projects #projects-list .project-screenshot .project-github a img {
  filter: invert(99%) sepia(0%) saturate(244%) hue-rotate(78deg) brightness(115%) contrast(92%);
  height: auto;
  width: 30px;
  margin-right: 10px;
}

footer {
  display: flex;
  justify-content: center;
  background-color: rgb(20, 20, 20);
  margin-top: 0;
  padding-top: 2em;
  padding-bottom: 2em;
}
footer .professional-links {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: 2em 4em;
  padding: 0;
  justify-content: space-between;
}
footer .professional-links img {
  filter: invert(99%) sepia(0%) saturate(244%) hue-rotate(78deg) brightness(115%) contrast(92%);
  height: 2.5em;
  width: auto;
}

.tooltip {
  position: relative;
  display: flex;
}

.tooltip .tooltiptext {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  visibility: hidden;
  width: auto;
  background-color: rgb(71, 71, 71);
  color: whitesmoke;
  text-align: center;
  border-radius: 6px;
  padding: 0.1em 0;
  position: absolute;
  z-index: 60;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.list-style-none {
  list-style-type: none;
}

.skills-list,
.professional-links {
  font-family: "Open Sans", sans-serif;
}

@media screen and (min-width: 400px) {
  #title #title-main #name {
    font-size: 3rem;
  }

  #skills {
    grid-template-rows: auto 15em;
  }
  #skills .skills-icons {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 770px) {
  #skills .skills-icons #skills-icon-list {
    gap: 1.5em 0.5em;
  }

  #projects #projects-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    -moz-column-gap: 8em;
         column-gap: 8em;
  }
  #projects #projects-list hr {
    display: none;
  }
  #projects #projects-list .project-screenshot {
    width: 30em;
    margin-top: 0;
    margin-bottom: 2em;
  }

  footer .professional-links {
    width: 80%;
  }
}
@media screen and (min-width: 1400px) {
  #title {
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 4em 10em 6em 10em;
  }
  #title #self-port {
    width: 30em;
    margin: 0;
  }
  #title #title-main {
    width: 500px;
  }
  #title #title-main #name {
    font-size: 5rem;
  }

  #skills .skills-icons #skills-icon-list {
    gap: 0.5em 0.5em;
    margin-bottom: 4em;
  }

  #projects #projects-list .project-screenshot {
    width: 700px;
  }

  footer .professional-links {
    margin-left: 40em;
    margin-right: 40em;
  }
}/*# sourceMappingURL=styles.css.map */